<%- include('partials/header') -%>

<!--menu-->
<div id="menu">
    <ul>
        <li><a href="http://localhost:2108/login">Log In</a></li>
        <li><a href="https://atn-shop312.herokuapp.com/">Home</a></li>
        <li><a href="https://atn-shop312.herokuapp.com/products">Products</a></li>
        <!--<li><a href="#">PC</a>
            <ul class="sub-menu">
                <li><a href="pages/PC/PC Gaming.html">PC Gaming</a></li>
                <li><a href="pages/PC/PC Office.html">PC Office</a></li>
                <li><a href="pages/PC/PC Worktation.html">PC Worktation</a></li>
            </ul>
        </li>-->
        <li><a href="https://atn-shop312.herokuapp.com/staffs">Staffs</a></li>
        <!--<li><a href="#">Gear</a>
            <ul class="sub-menu">
                <li><a href="pages/Gear/Headphones.html">Headphones</a></li>
                <li><a href="pages/Gear/Keyboards.html">Keyboards</a></li>
                <li><a href="pages/Gear/Mouses.html">Mouses</a></li>
            </ul>
        </li>-->
        <li><a href="https://atn-shop312.herokuapp.com/order">Order</a></li>
    </ul>
</div>

<% for (var i = 0; i < productlist.length; i++) { %>

<HR>
<div class="alert alert-primary">
  <center><H1><%= productlist[i].Name %></H1></center>
</div>
<HR>

<center><P><img width="550px" height="700px" src="/images/<%= productlist[i].urlImg%>"></P></center>
<center><P>Price: <%= productlist[i].Price%> / <%= productlist[i].Unit%> </P></center>

<center><P>Information: <%= productlist[i].Information%> </P></center>

<% } %>


<%- include('partials/footer') -%>
