<%- include('partials/header') -%>

<HR>
<div class="alert alert-primary">
  <center><H1><%= Name %></H1></center>
</div>
<HR>



<center><P><img width="300px" height="200px" src="/images/<%= urlImg%>"></P></center>
<center><P>Price: <%= Price%> / <%= Unit%> </P></center>

<center><P>Information: <%= Information%> </P></center>


<%- include('partials/footer') -%>
